.body {
  height: 100%;
}

@font-face {
  font-family: Amazon;
  src: url("../fonts/AmazonEmber_Rg.ttf");
}

.cart-header {
  font-family: Amazon, sans-serif;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  height: 50px;
  border-bottom: 1px solid gray;
  width: 900px;
  margin-bottom: 15px;
}

.left-side-cart {
  margin-left: 150px;
}

.cart-container {
  display: flex;
  background-color: #eaeded;
  min-height: 750px;
  padding: 14px 18px 18px;
  margin: 0 auto;
  // z-index: -1;
}

.inner-cart-container {
  background-color: white;
  width: 1350px;
  min-height: 300px;
  margin-top: 50px;
  margin-left: 70px;
  // z-index: 1;
  float: left;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid #e2e2e2;
  font-family: Amazon, sans-serif;
}

.empty-cart-message {
  float: left;
  display: flex;
  margin-top: 150px;
  background-color: white;
  margin-right: 150px;
  margin-left: 50px;
  width: 700px;
  font-family: Amazon, sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

.cart-product-photo {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: row;
  // float: left;
  flex: 33%;
}

.cart-item-title {
  display: flex;
  flex-direction: row;
  // float: left;
  flex: 33%;
  font-family: Amazon, sans-serif;
}

.in-stock-cart {
  display: flex;
  flex: 33%;
  // float: left;
  font-family: Amazon, sans-serif;
}

.empty-cart-gif {
  margin-left: 250px;
  margin-top: 50px;
  max-height: 323px;
  max-width: 277px;
}

.main-cont {
  width: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  font-family: Amazon, sans-serif;
}

.delete-cart-item {
  margin-bottom: 12px;
  font-family: Amazon, sans-serif;
}

.total-price-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 50px;
  margin-right: 30px;
  padding: 40px;
  margin-top: 50px;
  gap: 20px;
  border: 2px solid #e2e2e2;
  height: 140px;
  font-family: Amazon, sans-serif;
}

.total-price {
  font-size: 20px;
  margin-left: auto;
  font-family: Amazon, sans-serif;
}

.checkout-button {
  background-color: #ffd811;
  width: 100%;
  min-height: fit-content;
  border-color: #fcd300;
  height: 40px;
  font-family: Amazon, sans-serif;
  font-weight: bolder;
}

.checkout-message {
  width: 300px;
  height: 73px;
  color: #007600;
  font-size: 17px;
  line-height: 25px;
  top: 68px;
  margin-left: -29px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
}

.proceed-to-checkout:focus .checkout-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proceed-to-checkout:focus {
  outline: none;
  padding-top: 8px;
}
