@font-face {
  font-family: "AmazonEmber";
  src: url("../fonts/AmazonEmber_Rg.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Amazon, sans-serif;
  src: asset-path(AmazonEmber_Rg) format("truetype");
}

.all-products {
  position: absolute;
  top: 355px;
  width: 1500px;
  z-index: 0;
  font-family: Amazon, sans-serif;
}

.product-row-one {
  display: flex;
  font-family: Amazon, sans-serif;
}

.product-card-outline {
  background-color: white;
  width: 335px;
  height: 415px;
  font-size: 21px;
  font-family: "AmazonEmber";
  border: 1px;
  margin: 20px;
  font-family: Amazon, sans-serif;
}

.product-card-image {
  width: 275px;
  height: 275px;
  padding: 29px;
  margin: auto;
  left: 50%;
  font-family: Amazon, Arial;
}

.card-header {
  text-transform: capitalize;
  // padding: 20px;
  text-align: center;
  padding: 12px;
  font-family: Amazon, sans-serif;
  // text-decoration: none;
  text-decoration: underline;
  text-decoration-color: white;
  font-weight: bolder;
  color: black;
}

.product-card-container {
  text-decoration: none;
}

.cart_items {
  text-decoration: none;
}

.cart-index-item {
  text-decoration: none;
}

// .picture-ad{
//     margin-bottom: 150%;
// }

.backgroundColorBlend {
  background-image: linear-gradient(#54757a, #eaeded);
  height: 100px;
  width: 1500px;
  margin-bottom: 52px;
  font-family: Amazon, sans-serif;
}

.product-text-container {
  max-width: 590px;
}

.product-page {
  background-color: white;
  width: 1750px;
  height: 1500px;
  font-family: Amazon, sans-serif;
}

.product-category {
  margin: 15px;
  padding-left: 25px;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: bold;
  white-space: nowrap;
  font-family: Amazon, sans-serif;
}

.product-show {
  background-color: white;
  min-height: 500px;
  width: 100%;
  display: flex;
  padding-top: 38px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  z-index: -1;
}

.product-label-description {
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
  font-family: Amazon, sans-serif;
}

.product-label-price {
  padding-top: 50px;
  color: red;
  font-family: Amazon, sans-serif;
}

.product-photo {
  box-shadow: 10px 10px 5px grey;
  border: 1px solid rgb(209, 209, 209);
}

.product-title-header {
  display: block;
  color: black;
  z-index: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-left: -132px;
  margin-top: 150px;
  font-size: 250px;
  width: 150px;
  // overflow: hidden;
  white-space: nowrap;
  font-family: Amazon, sans-serif;
}

.product-title {
  font-size: 50px;
  margin-left: 180px;
  margin-top: 80px;
  // width: 150px;
  font-family: Amazon, sans-serif;
}

.product-description {
  margin-left: 50px;
  font-family: Amazon, sans-serif;
}

.product-properties {
  float: right;
  margin: 0 0 22px 20px;
  width: 270px;
  font-family: Amazon, sans-serif;
}

.split-center-product-column {
  min-width: 500px;
}

.split {
  height: 100%;
  width: 33%;
}

.buybox {
  display: absolute;
  margin-top: 120px;
  margin-left: 150px;
  // margin: 120px 120px 22px 20px;
  width: 230px;
  border-radius: 10px;
  border: 2px solid rgba(78, 78, 78, 0.466);
  border-width: 2px;
  // box-shadow: 0 0 0 4px;
  height: 550px;
  font-family: Amazon, "Amazon Ember", Arial, sans-serif;
}

// .strong {
//   font-weight: bold;
// }

.price-label {
  color: red;
  margin-bottom: 15px;
  font-weight: bolder;
}

.inner-buybox {
  margin: 10px;
  padding: 10px;
}

.Free-shipping-tag > p {
  font-weight: bold;
  overflow: hidden;
  padding-bottom: 8px;
}

.Free-shipping-tag > h3 {
  padding-bottom: 8px;
}

.Free-shipping-tag > h1 {
  padding-bottom: 8px;
}

.Free-shipping-tag > h4 {
  color: #007185;
  padding-bottom: 8px;
}

.Free-shipping-tag > h5 {
  color: #007185;
  padding-bottom: 8px;
}

.in-stock > p {
  font-size: 25px;
  color: #058552 !important;
  padding-bottom: 8px;
  padding-top: 90px;
}

.in-stock-button {
  padding-top: 9px;
}

.buybox-button > button {
  margin-bottom: 15px;
  width: 185px;
  align-items: center;
  height: 25px;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}

.buybox-button {
  padding-top: 15px;
}
.a-button-input {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  // color: transparent;
  // border: 0;
  // cursor: pointer;
  // height: 100%;
  // width: 100%;
  // left: 0;
  // top: 0;
  // opacity: 0.01;
  // outline: 0;
  // overflow: visible;
  // z-index: 20;
}

.buybox-button > ul {
  margin-top: 15px;
  padding-top: 15px;
  font-size: 5px;
}

.buybox-info {
  font-size: 12px;
}
// .left {
//   left: 0;
//   background-color: #111;
// }

// .right {
//   right: 0;
//   background-color: green;
// }

.product-added {
  margin-top: 5px;
}

.add-to-cart {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  width: 185px;
  align-items: center;
}

.add-to-cart:focus .item-added {
  display: flex;
}

.check-mark {
  font-size: 20px;
  margin-right: 8px;
}

.product-img-container {
  //   min-width: 1400px;
  padding: 60px 10px 0px 40px;
  display: flex;
  .product-img {
    margin-left: 200px;
    margin-top: 100px;
    .product-photo {
      margin: auto;
      max-width: 350px;
      max-height: 350px;
      position: absolute;
    }
  }
}

.product-rating-stars {
  height: 20px;
  margin-left: 180px;
  display: flex;
  font-size: 21px;
  color: #ffbc00;
}
