/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .full-page {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    position: relative;
 }

 .nav-belt {
    min-width: 905px;
    position: relative;
    font-size: 12px;
    height: 60px;
    background-color: #131A22;
    font-family: inherit;
    justify-content: space-between;
    text-align: right;
    box-sizing: border-box;
    z-index: 3;
    display: flex;
    width: 100%;
}
